---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import FAQ from "../components/FAQ.astro";
import Registration from "../components/Registration.astro";
---

<Layout>
  <div class="container">
    <Welcome />
    <FAQ />
    <Registration />
  </div>
</Layout>
