---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout>
  <div class="container">
    <div class="row">
      <div class="col">
        <Welcome />
      </div>
      <div class="col">
        <FAQ></FAQ>
      </div>
    </div>
  </div>
</Layout>
