---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import FAQ from "../components/FAQ.astro";
import Registration from "../components/Registration.astro";
---

<Layout>
  <div class="container p-2">
    <div class="row pb-2">
      <div class="col">
        <Welcome />
      </div>
    </div>
    <div class="row pb-2">
      <div class="col">
        <FAQ />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <Registration />
      </div>
    </div>
  </div>
</Layout>
