<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="https://stamm-phoenix.de">Zum DPSG Stamm Phoenix</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/impressum">Impressum</a>
  </li>
</ul>
