<div class="card">
  <div class="card-body">
    <h2 class="card-title">Registrierung</h2>
  </div>
  <iframe id="registration-frame" width="100%" height="100%" class="card-img-bottom" src="https://nextcloud.stamm-phoenix.de/apps/appointments/embed/tMQ7rCE7Q7VVN2Y8/form"></iframe>
  <script type="application/javascript">
    window.addEventListener('DOMContentLoaded', function(e) {
      var iFrame = document.getElementById('registration-frame');
      iFrame.width  = iFrame.contentWindow.document.body.scrollWidth;
      iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
    });
  </script>
</div>
