<div class="card rounded-0">
  <div class="card-header">
    <h2>Registrierung</h2>
  </div>
  <div class="text-center p-5">
    <h2>Danke für eure Anmeldungen!</h2>
    <p>Die Anmeldungsseite für den 5. und 6. Dezember 2026 wird voraussichtlich im Oktober 2026 freigeschaltet.</p>
  </div>
  <!--<iframe-->
  <!--  id="registration-frame"-->
  <!--  width="100%"-->
  <!--  height="1300px"-->
  <!--  src="https://nextcloud.stamm-phoenix.de/apps/appointments/embed/tMQ7rCE7Q7VVN2Y8/form"></iframe>-->
</div>
