---
import { Image } from 'astro:assets';
import phoenix from '../assets/phoenixlaus.png';
---
<Image src={phoenix} alt="Logo des DPSG Stamm Phoenix" height="200" class="mx-auto d-block" />
<h1 class="text-center display-4">Willkommen beim Nikolausdienst<br/>des DPSG Stamm Phoenix!</h1>
<h4 class="text-center">Am 5. und 6. Dezember kann der Nikolaus auch bei Ihnen vorbeikommen!</h4>
