---
import "bootstrap/dist/css/bootstrap.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/nikolaus-astro/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Nikolaus - DPSG Stamm Phoenix</title>
  </head>
  <body>
    <slot />
    <script src={bootstrap}></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
